.list-item {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;

  cursor: pointer;
}

.list-item img {
  width: 100%;
  height: auto;
}

.content {
  margin: 0px;
  padding: 0px;
}

.list-item h3,
.list-item p {
  padding: 3px 10px;
  color: black;
}
.list-item p {
  font-size: 13px;
}
